/* .css-f27t60-MuiDrawer-docked .MuiDrawer-paper {
  background-color: #9fd6d2 !important;
} */

.css-1vl9pjs-MuiDrawer-docked .MuiDrawer-paper {
  /* background-color: #9fd6d2 !important; */
  color: black !important;
}

.MuiDataGrid-columnHeaders {
  background-color: #9fd6d2 !important;
  color: black !important;
}
